<!DOCTYPE html>

<html>
    
    <body style="margin: 0">
        
        <a href="/blog" class="main-title"> <h1 style="background-color: #ddd; color: #888; margin: 0 height: 50px" >Blog - Piyush</h1></a>
        
        
        <br>
        <table>
            <tr>
                <tc>
                    <td>
                        <a href="/ascii" class="main-title">ASCII</a>
                    </td>
                    <tc>
                        <td>
                            <a href="/rot13" class="main-title">ROT13</a>
                        </td>
                    </tc>
                    <tc>
                        <td>
                            <a href="/form" class="main-title">FORM</a>
                        </td>
                    </tc>
                    <tc>
                        <td>
                            <a href="/blog" class="main-title">BLOG</a>
                        </td>
                    </tc>
                    <tc>
                        <td>
                            <a href="/blog/signup" class="main-title">SIGNUP</a>
                        </td>
                    </tc>
                    </tr>
            
        </table>
        
        {% block content %}
        
        {% endblock %}
        
    </body>
    
</html>
