<!DOCTYPE html>


<html>
<head>
<title>HTML5 Playground</title>

<link rel="stylesheet" type="text/css" href="../static/pt.css" />

</head>

<body>
<bdi><div class="main-header">HTML5 Playground</div></bdi>
<div class="main-header">HTML5 Playground</div>
<article>
<h1 style=" color:purple"> Jamuura</h1>
<p>
    Leading platform for budding filmmakers,
    providing resources and services tailormade
    for the filmmakers.
</p>

</article>
<aside>
<span>
first
</span>
<br>
<span>
    second
</span>
</aside>


<canvas height="200" width="300" onmouseover="black">

</canvas>

</body>











</html>
